.SearchBar {
  display: flex;
  justify-content: space-between;

  input[type="search"]{
    background-color: var(--off-bg-color);
    color: var(--main-color);
    font-size: 1.5em;
    width: 80%;
    border: none;
    height: 1.5em;
    padding: 0 0.5em;
    border-radius: 1em;
  }
  
  .Button {
    width: 15%;
  }
}