.App {
  
  position: relative;
  height: 100%;
  
  &.light {
    --main-color: #333;
    --main-bg-color: white;
    --off-bg-color: whitesmoke;
  }
  
  &.dark {
    --main-color: #ccc;
    --main-bg-color: black;
    --off-bg-color: #333;
  }

  color: var(--main-color);
  background-color: var(--main-bg-color);

  .Button.to-settings {
    position: absolute;
    top: .5em;
    right: .5em;
  }


}