.NewsCard {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;

  h2 {
    margin-top: 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .article-image {
  width: 100%;
  height: auto;
  }

  .source, .author {
    display: block;
  }

  .source:before {
    content: "Source: "
  }

  .author:before {
    content: "Author: "
  }

}


// I'll refactor this with flex later