.NewsCard {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  margin: 1em;
  padding: 1em;

  h2 {
    margin-top: 0;

    a {
      color: inherit;
    }


    //tablet
    @media screen and (min-width: 750px) {
      font-size: 1.75em;
    }

    //desktop
    @media screen and (min-width: 1000px) {
      font-size: 2em;
    }


  }

  .article-image {
  width: 100%;
  height: auto;
  }

  .source, .author {
    display: block;
  }

  .source:before {
    content: "Source: "
  }

  .author:before {
    content: "Author: "
  }

  .article {
    overflow-wrap: anywhere;
    // this is just in case an article is including some really long string
    // which otherwise may break formatting.
    // for example, if the article is showing a very long URL.
  }


//tablet
@media screen and (min-width: 750px) {
  article{
    display: flex;
    justify-content: space-between;

    .article-image {
      width: 40%;
      margin: 1em 0 0 1em;
    }

    .article {
      font-size: 1.25em;
    }

  }
}

}
